{% extends "index.html" %}

{% block content %}
<h1>Archiv</h1>
<p>Hier finden Sie sämtliche Bilder der vergangenen 14 Tage.</p>
<p>Bitte wählen Sie den Tag und die Stunde, von welcher Sie Bilder sehen möchten.</p>

{{ dump(days) }}

<select class="form-control" name="days">
    {% for day in days %}
    <option href="#">{{ day }}</option>
    {% endfor %}
</select>

{% for image in images %}
    <h3>{{ image }}</h3>
    <img src="images/{{ date.day }}/{{ date.hour }}/{{ image }}" class="img-responsive" />
{% endfor %}

{% endblock %}