{% extends "index.html" %}

{% block content %}
<h1>Bergrestaurant Alpenflüeh</h1>
<p>Herzlich willkommen auf unserer Seite! Sie haben die grossartige Möglichkeit mit unserer Webcam das Wetter bei uns
vor Ort anzusehen. Unten sehen Sie das neueste Bild von heute.</p>
<p>Im <a href="index.php?site=archiv"><b>Archiv</b></a> können Sie die vergangenen 14 Tage in Revue passieren lassen.</p>
<p>Falls Sie fragen zu uns haben, werden Sie auf der Seite <a href="index.php?site=about"><b>Über uns</b></a> fündig werden.</p>
<form action="panorama.php" method="post">
    <input class="btn btn-default" type="submit" value="Schiessen Sie jetzt ein Bild!">
</form>
<br>
<form action="delete.php" method="post">
    <input class="btn btn-default" type="submit" value="Löschen Sie die veralteten Bilder!">
</form>

<h2>Das neueste Bild</h2>
<img class="img-responsive" src="images/newest.jpeg" alt="Neuestes Bild"/>
{% endblock %}